[flake8]
max-line-length = 119
extend-ignore =
    E501,
    E203,
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    .env,
    migrations,
    media,
    static,
per-file-ignores =
    __init__.py: F401
    tests.py: F401
    admin.py: F401

